
.light-list {
    padding: 1.5em;
    margin-top: 4em;
    box-shadow: 2px 2px 11px #CCCBCB;
    color: #666;
    line-height: 1.8em;
    font-size: 14px;
}

#light_new {
    margin-bottom: 1.8em;
}
.new-btn {
    margin-bottom: 1.8em;
}

.light-check-area {
    /*margin: 0.8em 1.5em;*/
    padding: 0.8em 2em;
    background-color: #F8F8F8;
    border: 1px solid #CCCBCB;
    border-radius: 4px;
}
.light-checkbox {
    width: 120px;
    float: left;
}